#vort-analizilo {
    text-align: center;
}

#fraz-analizilo {
    text-align: center;
}

.analizilo-form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 80%;
    margin: 2em 10%;
}

.analizilo-form .input-label {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    grid-area: 1 / 1 / 2 / 3;
}

.analizilo-form .input {
    font-size: 24px;
    grid-area: 2 / 1 / 3 / 2;
    min-width: 0px;
    outline: 0;
    border-radius: 5px 0 0 5px;
    border-color: var(--Esperanto-green);
    border-width: 2px 0 2px 2px;
}

.analizilo-form .input:invalid {
    border-color: crimson;
}

.analizilo-form .confirm-button {
    font-size: 24px;
    grid-area: 2 / 2 / 3 / 3;
    outline: 0;
    background-color: var(--Esperanto-green);
    color: white;
    border-color: darkgreen;
    border-radius: 0 5px 5px 0;
}
.analizilo-form .confirm-button:hover {
    background-color: var(--Esperanto-green-hover);
}

.analizilo-form .confirm-button:disabled {
    background-color: darkgreen;
    border-color: #003200;
    color: lightgray;
}

.analizilo-form .error-message {
    font-size: 20px;
    color: crimson;
    grid-area: 3 / 1 / 4 / 2;
    text-align: left;
    height: 0;
}

.analizilo-form .loading {
    grid-area: 2 / 1 / 3 / 2;
    text-align: right;
    justify-self: end;
    align-self: center;
    height: 14px;
    width: 14px;
    border: 8px solid lightgray;
    border-top: 8px solid var(--Esperanto-green);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-right: 3px;
    pointer-events: none;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
}