.frazo {
    font-size: 24px;
    width: 80%;
    margin: 0 10%;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 480px) {
    .frazo {
        width: calc(100% - 20px);
        margin: 0 10px;
        padding: 0;
    }
}

.frazero {
    font-size: 36px;
    color: black;
    margin-bottom: 42px;
}

@media screen and (max-width: 480px) {
    .frazero {
        font-size: 32px;
        margin-bottom: 38px;
    }
}

.frazero:hover {
    cursor: pointer;
}

.frazero.selected {
    color: var(--Esperanto-green);
}

.frazero.related {
    color: var(--color-related);
}

.frazer-properties {
    text-align: left;
    margin: 20px 0;
    font-size: 24px;
}

[bracket] {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

[bracket]:after {
    content: "";
    display: block;
    height: 6px;
    border: 2px solid black;
    border-top: none;
    border-radius: 0 0 6px 6px;
}

.frazero:hover[bracket]:after {
    border-color: gray;
}

[bracket]:before {
    content: "";
    position: absolute;
    top: calc(100% + 2px);
    white-space: pre;
    font-size: 50%;
    color:black;
    left: 50%;
    transform: translateX(-50%);
}

.selected[bracket]:before {
    content: attr(bracket);
}

.related[bracket]:before {
    content: attr(bracket);
}