body {
    font-size: 16px;
}

#vort-analizilo {
    text-align: center;
}

#vort-analizilo-form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 80%;
    margin: 2em 10%;
}

#vorto-etikedo {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    grid-area: 1 / 1 / 2 / 3;
}

#vort-enmeto {
    font-size: 24px;
    grid-area: 2 / 1 / 3 / 2;
    min-width: 0px;
}

#konfirm-butono {
    font-size: 24px;
    grid-area: 2 / 2 / 3 / 3;
}

.vort-analizaĵujo {
    font-size: 24px;
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 10%;
    text-align: left;
}

.vort-analizaĵeringo {
    margin: 0 5px;
}

.vort-analizaĵingo {
    padding: 10px 0;
    border-bottom: 1px solid gray;
}

.elektita.vort-analizaĵingo {
    font-size: 36px;
}

.vort-analizaĵingo:not(.elektita) {
    cursor: pointer;
}

.elektita > .vort-analizaĵeringo:hover {
    text-decoration: underline;
}

.vortaj-trajtoj {
    font-size: 20px;
}

[tooltip]:before {
    content: attr(tooltip);
    position: absolute;
    pointer-events: none;
    opacity: 0;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px gray;
}

.elektita > [tooltip]:hover:before {
    opacity: 1;
    background: white;
    border: 1px solid black;
    margin-top: 40px;
}