.vort-analizaĵujo {
    font-size: 24px;
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 10%;
    text-align: left;
}

@media screen and (max-width: 480px) {
    .vort-analizaĵujo {
        width: calc(100% - 10px);
        margin: 0 5px;
    }
}

.vort-analizaĵeringo {
    margin: 0 5px;
}

.vort-analizaĵingo {
    padding: 10px 0;
    border-bottom: 1px solid gray;
}

.selected.vort-analizaĵingo {
    font-size: 36px;
}

@media screen and (max-width: 480px) {
    .selected.vort-analizaĵingo {
        font-size: 32px;
    }
}

.vort-analizaĵingo:not(.selected) {
    cursor: pointer;
}

.selected > .vort-analizaĵeringo:hover {
    text-decoration: underline;
}

.vortaj-trajtoj {
    font-size: 20px;
}

[tooltip]:before {
    content: attr(tooltip);
    position: absolute;
    pointer-events: none;
    opacity: 0;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px gray;
}

.selected > [tooltip]:hover:before {
    opacity: 1;
    background: white;
    border: 1px solid black;
    margin-top: 40px;
}